<header class="header" [class.scrolled]="isScrolled">
  <div class="header-pill">
    <a class="logo" routerLink="/" (click)="scrollTo('home', $event)">
      <app-icon name="rota-logo" class="logo-icon"></app-icon>
    </a>

    <nav class="nav">
      <ul>
        <li class="has-dropdown">
          <a href="#home" (click)="scrollTo('home', $event)">{{ langService.t().header.home }} <i class="arrow down"></i></a>
          <ul class="nav-dropdown">
            <li><a href="#about" (click)="scrollTo('about', $event)">{{ langService.t().header.about }}</a></li>
            <li><a href="#vision" (click)="scrollTo('vision', $event)">{{ langService.t().header.vision }}</a></li>
            <li><a href="#services" (click)="scrollTo('services', $event)">{{ langService.t().header.services }}</a></li>
            <li><a href="#map" (click)="scrollTo('map', $event)">{{ langService.t().header.locations }}</a></li>
          </ul>
        </li>
        <li><a href="#about" (click)="scrollTo('about', $event)">{{ langService.t().header.about }}</a></li>
        <li><a href="#services" (click)="scrollTo('services', $event)">{{ langService.t().header.services }}</a></li>
        <li><a href="#contacts" (click)="scrollTo('contacts', $event)">{{ langService.t().header.contacts }}</a></li>
      </ul>
    </nav>

    <div class="lang-selector-container">
      <div class="lang-selector" (click)="langService.toggleLangMenu()">
        <app-icon [name]="langService.currentLang()" class="flag"></app-icon>
        <i class="arrow down"></i>
      </div>
      
      @if (langService.isLangMenuOpen()) {
        <ul class="dropdown-menu">
          <li (click)="langService.selectLang('BR')">
            <app-icon name="BR" class="flag-icon"></app-icon> {{ langService.t().header.portuguese }}
          </li>
          <li (click)="langService.selectLang('US')">
            <app-icon name="US" class="flag-icon"></app-icon> {{ langService.t().header.english }}
          </li>
        </ul>
      }
    </div>
  </div>
</header>