<section class="vision" id="vision">
  <div class="container vision-container">
    <div class="vision-header">
      <div class="eyebrow">
        <span>{{ langService.t().vision.eyebrow }}</span>
      </div>
      <h2 [innerHTML]="langService.t().vision.title"></h2>
    </div>
    
    <div class="vision-content">
      <div class="vision-image">
        <img src="/vision-section.svg" alt="Nossa Visão" />
      </div>
      
      <div class="vision-text">
        <p>{{ langService.t().vision.p1 }}</p>
        <p>{{ langService.t().vision.p2 }}</p>
      </div>
    </div>
  </div>
</section>
